@import "fonts";
body{
    background: #000;
    background:url("@img/banner_pc.jpg") 0 0 no-repeat;
    font-family: Cormorant,'Segoe UI',
    Tahoma,
    Geneva,
    Verdana,
    sans-serif;
    span{
        color:red;
    }
}

@media (max-width:769px) {
    span {
        color: red;
    }
}
@media (max-width:769px) {
    body{
        color:gray
    }
}